/* -- General -- */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;

  overflow-x: hidden;
}

@media only screen and (max-width:  768px) { html { font-size: 12px; } }
@media only screen and (min-width:  769px) { html { font-size: 13px; } }
@media only screen and (min-width: 1024px) { html { font-size: 14px; } }
@media only screen and (min-width: 1200px) { html { font-size: 15px; } }
@media only screen and (min-width: 1400px) { html { font-size: 16px; } }

body {
  background-color: #F9F3EB;
}

* {
  font-family: 'proxima-nova', sans-serif;
  color: #000;
  text-rendering: optimizeLegibility;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

/* -- Nav -- */

.nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 2rem 0 0;
}

.nav-left {
  display: inline-flex;
  align-items: self-end;
}

.nav-right {
  display: inline-flex;
  align-items: self-end;
}

.nav-logo {
  width: 3.5rem;
  min-height: 1.5rem;
  margin-right: 1rem;
}

.nav-item {
  font-weight: 300;
  font-size: 1.75rem;
  margin-top: 0.4rem;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
}

.nav-btn {
  margin-left: 1.5rem;
  padding: .5rem 1.5rem;
  background: #5A8F69;
  color: #fff;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none !important;
}

.nav-btn:hover {
  background-color: #4B7958;
}

.nav-btn:active {
  background-color: #000;
}

.nav-txt {
  padding: .5rem 1.5rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: calc(100vh - 8rem);
  max-width: 40rem;
  margin: 0 auto;
}

.hero-brand {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.1rem;
}

.hero-brand-logo {
  width: 4rem;
  min-height: 3rem;
  margin: 1rem auto;
  transition: all .1s ease-out;
}

.hero-brand-logo:hover {
  transform: scale(1.1);
}
.hero-brand-logo:active {
  transition: none;
  transform: scale(0.95);
}

.hero-brand-name {
  width: auto;
  height: 2.2rem;
  margin: 0.1rem auto;
  margin-bottom: 1rem;
  min-height: 2rem;
}

.hero-brand-brief {
  font-size: 2.1rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.1rem;
  max-width: 40rem;
  margin: 0 auto;
}

.hero-cta {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-top: 1.5rem;
}

.cta {
  display: flex;
  align-content: center;
  text-decoration: none;
  margin: 0 1rem;
  transition: all .1s ease-out; 
}

.cta:hover {
  transform: scale(1.3);
}

.cta:active {
  transform: scale(0.9);
}

.cta-img {
  width: auto;
  height: 2rem;
  margin-right: auto;
  
}

.nav-img {
  width: 1.2rem;
  margin:auto;
  margin-right: 1.5rem;
  align-content: center;
}

.cta-lbl {
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 3rem;
}

.plains {
  position: fixed;
  display: none;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.plain-left {
  position: absolute;
  bottom: -30rem;
  left: -22.5rem;
  width: 37.5rem;
  height: 35.5rem;
  
  border-radius: 50%;
  background-color: #76BF94;
}

.plain-center-bg {
  position: absolute;
  bottom: -17.25rem;
  left: -18.75vw;
  width: 100vw;
  height: 20.5rem;
  
  border-radius: 50%;
  background-color: #549970;
}

.plain-center-fg {
  position: absolute;
  bottom: -17.25rem;
  right: -11.5vw;
  width: 75vw;
  height: 20.5rem;
  
  border-radius: 50%;
  background-color: #76BF94;
}

.plain-right {
  position: absolute;
  bottom: -34.5rem;
  right: -30rem;
  width: 45rem;
  height: 42rem;
  
  border-radius: 50%;
  background-color: #549970;
}

.cow {
  position: absolute;
  width: 5rem;
}

@media only screen and (min-width: 769px) {
  .hero {
    margin: -4rem auto 0;
  }

  .plains {
    display: block;
  }
}

.alert {
  position: fixed;
  top: 8rem;
  padding: 1rem;
  right: 2rem;
  width: 18rem;
  background: #fff;
  border-radius: .5rem;
  height: auto;
  transition: all .1s ease-out;
}

.alert:hover {
  height: auto;
}

.alert-time {
  font-weight: 700;
  margin-bottom: .5rem;
}